// Modelado de cajas y decoración de textos 

/***************** Modelado de cajas y decoración de textos *****************/

h1, .titulo {
    height: 3%;
    margin-top: 3%;
    padding: 20px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;
    font-weight: bold  
}

h2, .subtitulo {
    height: 1%;
    margin-top: 1%;
    padding: 5px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;
    font-weight: bold 
}

h3 {
    margin-top: 2%;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: left; 
}
h3:hover {
    color: $color-hover;
    background-size: 100% 2px;
    cursor:default;
}

nav{
    margin-top: 2%;
    padding: 20px;
    width: 100%;
    height: 5px;
        ul{
            padding-left: 0px;
                li {
                    display: block;
                    height: auto;
                    padding: 3px;
                    margin-top: 5px;
                    letter-spacing: 5px;
                    word-spacing: 10px;
                    line-height: 18px; 
                    text-align: center;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size 1s;
                }
                
                li:hover, li:visited, li:link {
                color: $color-hover;
                background-size: 100% 2px;
                }
                    
            }          
    }

.carrusel {
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(255, 255, 255, 0.342);
}

aside {
    margin-top: 5%;
}

section {
    width: 100%;
    margin-top: 20px;
        p{
        margin: 3px;
        letter-spacing: 2px;
        word-spacing: 10px;
        line-height: 18px; 
        text-align: center;
        }
}

footer { 
    text-align: center;
}

#carouselExampleCaptions {
    width: 600px;
}