// Modelado de cajas y decoración de textos 

@import "./variables";
/***************** Modelado de cajas y decoración de textos *****************/

h1, .titulo {
    height: 3%;
    margin-top: 3%;
    padding: 20px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;
    font-weight: bold  
}

h2, .subtitulo {
    height: 1%;
    margin-top: 1%;
    padding: 5px;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;
    font-weight: bold 
}

h3 {
    margin-top: 2%;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: left; 
}
h3:hover {
    color: $color-hover;
    background-size: 100% 2px;
    cursor:default;
}

nav{
    margin-top: 2%;
    padding: 20px;
    width: 100%;
    height: 5px;
        ul{
            padding-left: 0px;
                li {
                    display: block;
                    height: auto;
                    padding: 3px;
                    margin-top: 5px;
                    letter-spacing: 5px;
                    word-spacing: 10px;
                    line-height: 18px; 
                    text-align: center;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size 1s;
                }
                
                li:hover, li:visited, li:link {
                color: $color-hover;
                background-size: 100% 2px;
                }
                    
            }          
    }

.carrusel {
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(255, 255, 255, 0.342);
}

aside {
    margin-top: 5%;
}

section {
    width: 100%;
    margin-top: 20px;
        p{
        margin: 3px;
        letter-spacing: 2px;
        word-spacing: 10px;
        line-height: 18px; 
        text-align: center;
        }
}

footer { 
    text-align: center;
}

#carouselExampleCaptions {
    width: 600px;
}

/***************** Productos *****************/

#containerProductos {
    .itemProductos {
        margin-top: 2%;
        list-style: none;
        background-color: $color-primario;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 1s;
    }
    .itemProductos:hover, .itemProductos:focus {
        background-size: 100% 2px;
        background-color: $color-primario;
    }

    .card {
        justify-content: center;
    }
    .card:hover {
        background-color: rgba(231, 231, 231, 0.233);
    }

    .card-link {
        @extend .botonCompra;
    }
    .card-link:hover:after {
        @extend .botonCompra:hover:after;
        @extend .botonCompra:after;
    }

    .card-body {
        padding-top: 1rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    .botonCompra {
        text-align: center;
        width: 100%;
        padding: 5px;
        font-size: 16px;
        color: $color-terciario;  
        text-align: center; 
        text-decoration: none;
      }
      .botonCompra:after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        transition: all .8s;
        color: $color-terciario;
        }
        .botonCompra:hover:after {
        color: $color-hover;
        width: 20%;
        background-color: $color-hover;
        }
}

/***************** Contacto *****************/

$colors: (
 ig: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%),
 maps:  #217cb8,
 wpp: #00bb2d,
 mail: grey,
);

@each $name-color, $fontcolor in $colors {
    .contacto-#{$name-color} {
        color: $fontcolor;
    }
 }
 
 @mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }
 .iconoContacto {
    @include sizes(55px, 50px);
 }
 
 
/***************** Formulario de contacto *****************/

.contact_form{  
    width: 460px; 
    margin-right: 25px;
    height: auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $color-primario; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: $color-primario; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-secundario; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: $color-primario; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-secundario; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: $color-secundario; 
    border-color: $color-secundario; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: $color-primario; 
  }
  
  
  span{
    color: $color-secundario; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: $color-terciario;  
  }
  
  
  .formText2{
    font-size: 16px; 
    padding-bottom: 30px;
    color: $color-terciario;  
    text-align: center; 
    text-decoration: none;
  }
  
  .formText2:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    color: $color-hover-form;
    }
    .formText2:hover:after {
    color: $color-hover;
    width: 100%;
    background-color: $color-hover;
    }
  
  ::-webkit-input-placeholder {
   color: $color-hover-form;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: $color-hover-form;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid $color-hover;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid $color-hover;
  }

