// Variables

$color-titulo: white;
$color-subtitulo: white;
$color-footer: white;

$color-primario: white;
$color-secundario: rgb(247, 160, 250);
$color-terciario: black;
$color-hover-form: #a8a8a8;
$color-hover: rgb(119, 201, 255);