@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/***************** size, family y color de fuente *****************/
h1, .titulo {
  color: white;
  font-family: 'Island Moments', cursive;
  font-size: 100px; }

h2, .subtitulo {
  color: black;
  font-family: 'Licorice', cursive;
  font-size: 22px; }

h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

nav {
  margin-top: 2%;
  padding: 20px;
  width: 100%;
  height: 5px; }
  nav ul {
    padding-left: 0px; }
    nav ul li {
      color: #f7a0fa;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px; }

section {
  width: 100%;
  margin-top: 20px; }
  section p {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    color: black; }

footer {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  color: white;
  font-size: 10px; }

/***************** bg y main *****************/
body {
  background-image: url("../images/fondo.jpg");
  background-position: top center;
  height: 100vh;
  width: 100%; }

main {
  background: white;
  width: 80%;
  height: 100vh;
  margin-top: 5%;
  padding: 5px;
  display: block; }

/***************** Modelado de cajas y decoración de textos *****************/
h1, .titulo {
  height: 3%;
  margin-top: 3%;
  padding: 20px;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 18px;
  text-align: center;
  font-weight: bold; }

h2, .subtitulo {
  height: 1%;
  margin-top: 1%;
  padding: 5px;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 18px;
  text-align: center;
  font-weight: bold; }

h3 {
  margin-top: 2%;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 18px;
  text-align: left; }

h3:hover {
  color: #77c9ff;
  background-size: 100% 2px;
  cursor: default; }

nav {
  margin-top: 2%;
  padding: 20px;
  width: 100%;
  height: 5px; }
  nav ul {
    padding-left: 0px; }
    nav ul li {
      display: block;
      height: auto;
      padding: 3px;
      margin-top: 5px;
      letter-spacing: 5px;
      word-spacing: 10px;
      line-height: 18px;
      text-align: center;
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size 1s; }
    nav ul li:hover, nav ul li:visited, nav ul li:link {
      color: #77c9ff;
      background-size: 100% 2px; }

.carrusel {
  color: rgba(0, 0, 0, 0.836);
  background-color: rgba(255, 255, 255, 0.342); }

aside {
  margin-top: 5%; }

section {
  width: 100%;
  margin-top: 20px; }
  section p {
    margin: 3px;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 18px;
    text-align: center; }

footer {
  text-align: center; }

#carouselExampleCaptions {
  width: 600px; }

/***************** Productos *****************/
#containerProductos .itemProductos {
  margin-top: 2%;
  list-style: none;
  background-color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 1s; }

#containerProductos .itemProductos:hover, #containerProductos .itemProductos:focus {
  background-size: 100% 2px;
  background-color: white; }

#containerProductos .card {
  justify-content: center; }

#containerProductos .card:hover {
  background-color: rgba(231, 231, 231, 0.233); }

#containerProductos .card-body {
  padding-top: 1rem;
  padding-left: 5px;
  padding-right: 5px; }

#containerProductos .botonCompra, #containerProductos .card-link {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none; }

#containerProductos .botonCompra:after, #containerProductos .card-link:after, #containerProductos .card-link:hover:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;
  color: black; }

#containerProductos .botonCompra:hover:after, #containerProductos .card-link:hover:after {
  color: #77c9ff;
  width: 20%;
  background-color: #77c9ff; }

/***************** Contacto *****************/
.contacto-ig {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.contacto-maps {
  color: #217cb8; }

.contacto-wpp {
  color: #00bb2d; }

.contacto-mail {
  color: grey; }

.iconoContacto {
  height: 50px;
  width: 55px; }

/***************** Formulario de contacto *****************/
.contact_form {
  width: 460px;
  margin-right: 25px;
  height: auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
  padding-left: 30px; }

input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f7a0fa;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: white;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #f7a0fa;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #f7a0fa;
  border-color: #f7a0fa;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: white; }

span {
  color: #f7a0fa; }

.aviso {
  font-size: 13px;
  color: black; }

.formText2 {
  font-size: 16px;
  padding-bottom: 30px;
  color: black;
  text-align: center;
  text-decoration: none; }

.formText2:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all .8s;
  color: #a8a8a8; }

.formText2:hover:after {
  color: #77c9ff;
  width: 100%;
  background-color: #77c9ff; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #77c9ff; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #77c9ff; }

/***************** Flexbox y Grid *****************/
h1, .titulo {
  grid-area: titulo; }

h2, .subtitulo {
  grid-area: subtitulo; }

.inicio {
  display: inline; }

nav {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  justify-content: center; }

aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-content: center; }

article {
  grid-area: articulo; }

footer {
  grid-area: pie; }

/***************** Index *****************/
#indexHeader {
  grid-area: cabeza;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#gridIndex {
  display: grid;
  grid-template-areas: "cabeza cabeza cabeza" "menu menu menu" "aside aside aside" "articulo articulo articulo" "pie pie pie";
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center; }

.generalHeader {
  grid-area: cabezaGeneral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/***************** Productos *****************/
#containerProductos {
  grid-area: productos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content; }
  #containerProductos .productos {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around; }
  #containerProductos .botonCompra, #containerProductos .card-link {
    grid-area: boton; }

#gridProductos {
  display: grid;
  grid-template-areas: "cabezaGeneral cabezaGeneral cabezaGeneral" "menu menu menu" "productos productos productos" "pie pie pie";
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center; }

/***************** Contactos *****************/
#containerContactos {
  grid-area: contacto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: fit-content; }

.contacto-ig, .contacto-maps, .contacto-wpp, .contacto-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: stretch;
  align-items: center;
  justify-content: space-around; }

.contact_form {
  grid-area: formulario; }

#gridContacto {
  display: grid;
  grid-template-areas: "cabezaGeneral cabezaGeneral cabezaGeneral" "menu menu menu" "contacto contacto contacto" "pie pie pie";
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center; }

/***************** Ventas *****************/
#containerVentas {
  grid-area: ventas;
  display: flex;
  flex-direction: column; }

#gridVentas {
  display: grid;
  grid-template-areas: "cabezaGeneral cabezaGeneral cabezaGeneral" "menu menu menu" "ventas ventas ventas" "pie pie pie";
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center; }
