*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/fondo.jpg");
    background-position: top center;
    height: 100vh;
    width: 100%;
}

li {
    list-style: none;
}

@media screen and (max-width: 480px) {

    /*logo y titulo */


h1, .titulo {
    grid-area: titulo;
    color: rgb(255, 255, 255);
    height: 3%;
    margin-top: 3%;
    padding: 20px;
    font-family: 'Island Moments', cursive;
    font-size: 100px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;
    font-weight: bold  
  
}

h2, .subtitulo {
    grid-area: subtitulo;
    color: rgb(0, 0, 0);
    height: 1%;
    margin-top: 1%;
    padding: 5px;
    font-family: 'Licorice', cursive; 
    font-size: 22px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;
    font-weight: bold  
  
}

/* Barra de menu */

ul {
    padding-left: 0px;
}
.inicio {
    display: block;
    height: auto;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid rgb(247, 160, 250);  
    background-image: linear-gradient(to right, white , rgb(209, 110, 248));
    color: rgb(224, 100, 255);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
}

li:hover {
padding: 3px;
color: rgb(119, 201, 255);
transform: scale(1,1.2);
transition: ease 0.1s;
}

nav .nav {
grid-area: menu;
display: flex;
flex-direction: column;
align-content: flex-end;
justify-content:center;
padding: 20px;
width: fit-content;
height: fit-content;
}

/*contenido */

main {
    grid-area: contenido;
    background: white;
    width: 95%;
    height: fit-content;
    margin-top: 30px;
    padding: 5px;
    display: block;
}

section {
    width: 100%;
    margin-top: 20px;
    font-family: Arial, Verdana, Tahoma, sans-serif; 
    font-size: 14px; 
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
  
}

aside {
    margin-top: 10px;
}

.w-100 {
    height: auto;
}


form {
    margin: 5px;
}

.contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
}

.productos {
    display: block;
    text-align: left;
    margin-bottom: 25px;
    list-style:none
}

.mainCompra {
    height: auto;
}

fieldset {
    background-color: rgb(251, 232, 252);
}

/*imagenes */

/* Form de contacto */

.contact_form{  
    grid-area: formulario;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 400px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 400px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .formText2{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;  
    text-align: center; 
    text-decoration: none;
  }
  
  .formText2:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    color: #333;
    }
    .formText2:hover:after {
    color: rgb(119, 201, 255);
    width: 100%;
    background-color: rgb(119, 201, 255);
    }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid rgb(119, 201, 255);
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid rgb(119, 201, 255);
  }

/* pie de pagina */

footer { 
    grid-area: pie;
    text-align: center;
    color: white;
    font-size: 10px;
}


.productos { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 5px;
}
/* Grid Areas */

#gridIndex {
    display: grid;

    grid-template-areas:
    "cabeza"
    "menu"
    "contenido"
    "pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}

#gridProductos {
    display: grid;

    grid-template-areas:
    "cabeza"
    "menu"
    "contenido"
    "pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#gridContacto {
    display: grid;

    grid-template-areas:
    "cabeza"
    "menu"
    "contacto"
    "pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

}

.generalHeader {
    grid-area: cabeza;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#indexHeader {
    grid-area: cabeza;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerContactos {
    margin-top: 42px;
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

#containerProductos {
    grid-area: contenido;

}

}

@media screen and (min-width: 481px) and (max-width: 1023px) {
        /*logo y titulo */


h1, .titulo {
    grid-area: titulo;
    color: rgb(255, 255, 255);
    height: 3%;
    margin-top: 3%;
    padding: 20px;
    font-family: 'Island Moments', cursive;
    font-size: 100px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
    font-weight: bold
  
}

h2, .subtitulo {
    grid-area: subtitulo;
    color: rgb(0, 0, 0);
    height: 1%;
    margin-top: 1%;
    padding: 5px;
    font-family: 'Licorice', cursive; 
    font-size: 22px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
    font-weight: bold
  
}

/* Barra de menu */


.inicio {
    display: block;
    height: 20px;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid rgb(247, 160, 250);  
    background-image: linear-gradient(to left, white , rgb(209, 110, 248));
    color: rgb(224, 100, 255);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
}

li:hover {
padding: 3px;
background-color: rgb(234, 182, 255);
color: rgb(119, 201, 255);
transform: scale(1,1.2);
transition: ease 0.1s;
}

nav .nav{
display: flex;
flex-direction: column;
justify-content:center;
grid-area: menu;
margin-top: 2%;
padding: 20px;
width: 100%;
height: 5%px;
}

/*contenido */

main {
    grid-area: contenido;
    background: white;
    width: 80%;
    height: fit-content;
    margin-top: 5%;
    padding: 5px;
    display: block;
}

section {
    width: 100%;
    margin-top: 20px;
    font-family: Arial, Verdana, Tahoma, sans-serif; 
    font-size: 14px; 
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
  
}

aside {
    margin-top: 10px;
    display: inline;
    width: 30%;
    height: fit-content;
}

.w-100 {
    height: auto;
}

form {
    margin: 5px;
}

/* Form de contacto */

.contact_form{  
    grid-area: formulario;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb;
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 95%; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 95%; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .formText2{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;  
    text-align: center; 
    text-decoration: none;
  }
  
  .formText2:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    color: #333;
    }
    .formText2:hover:after {
    color: rgb(119, 201, 255);
    width: 100%;
    background-color: rgb(119, 201, 255);
    }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid rgb(119, 201, 255);
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid rgb(119, 201, 255);
  }


.contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
}

.productos {
    display: block;
    text-align: left;
    margin-bottom: 25px;
    list-style:none
}

.mainCompra {
    height: auto;
}

fieldset {
    background-color: rgb(251, 232, 252);
}

/*imagenes */


/* pie de pagina */

footer { 
    grid-area: pie;
    text-align: right;
    color: white;
}

#containerProductos {
    grid-area: contenido;

}

.productos { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 5px;
}
/* Grid Areas */

#gridIndex {
    display: grid;

    grid-template-areas:
    "cabeza"
    "menu"
    "contenido"
    "pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}

#gridProductos {
    display: grid;

    grid-template-areas:
    "cabeza"
    "menu"
    "contenido"
    "pie"
    ;


    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#gridContacto {
    display: grid;

    grid-template-areas:
    "cabeza"
    "menu"
    "contacto"
    "pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

}

.generalHeader {
    grid-area: cabeza;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#indexHeader {
    grid-area: cabeza;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerContactos {
    margin-top: 42px;
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#containerProductos {
    grid-area: contenido;

}

}



@media screen and (min-width: 1024px) {

/*logo y titulo */


h1, .titulo {
    grid-area: titulo;
    /*background-color: #ace7ff; */
    color: rgb(255, 255, 255);
    /*width: 20%;*/
    height: 3%;
    margin-top: 3%;
    padding: 20px;
    font-family: 'Island Moments', cursive;
    font-size: 100px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
    font-weight: bold
}

h2, .subtitulo {
    grid-area: subtitulo;
    /*background-color: rgb(255, 255, 255);*/
    color: rgb(0, 0, 0);
    /*width: 20%;*/
    height: 1%;
    margin-top: 1%;
    padding: 5px;
    font-family: 'Licorice', cursive; 
    font-size: 22px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
    font-weight: bold
}

h3 {
    margin-top: 2%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: left; 
}
/* Barra de menu */


.inicio {
    display: inline;
    height: 20px;
    padding: 3px;
    /*border: 1px solid rgb(247, 160, 250);*/  
    /*background-color: white; */
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
}

li {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 1s;
}
 
li:hover, li:visited, li:link, h3:hover {
/*background-color: rgb(234, 182, 255);*/
color: rgb(119, 201, 255);
background-size: 100% 2px;
}

h3:hover {
    cursor: default;
}

nav {
display: flex;
flex-direction: row;
justify-content:center;
grid-area: menu;
margin-top: 2%;
padding: 20px;
width: 100%;
height: 5px;
}

/*contenido */

main {
    background: white;
    width: 80%;
    height: 100vh;
    margin-top: 5%;
    /*margin-left: 15%;*/
    padding: 5px;
    display: block;
}

section {
    width: 100%;
    margin-top: 20px;
    font-family: Arial, Verdana, Tahoma, sans-serif; 
    font-size: 14px; 
    letter-spacing: 3px;
    word-spacing: 10px;
    line-height: 18px; 
    text-align: center;  
  
}

aside { 
    grid-area: aside;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.w-100 {
    height: 400px;
}

article {
    grid-area: articulo;
}

.form {
    margin-left: 37%;
    border: 1px solid black;
    background-color: #fff;
    text-align: left;
    width: 30%;
}

form {
    margin: 5px;
}

.contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
}

.productos {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

#containerProductos {
    grid-area: productos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

#containerContactos {
    grid-area: contacto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
}

#botonCompra {
    grid-area: boton;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.itemProductos {
    margin-top: 15px;
    list-style: none;
    background-color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 1s;
}

.itemProductos:hover, .itemProductos:focus {
    background-size: 100% 2px;
    background-color: #fff;
}

.mainCompra {
    height: auto;
}

fieldset {
    background-color: rgb(251, 232, 252);
    
}

.carrusel {
    color: rgba(0, 0, 0, 0.836);
    background-color: rgba(255, 255, 255, 0.342);
}

/* Form de contacto */

.contact_form{  
    grid-area: formulario;
    width: 460px; 
    margin-right: 25px;
    height: auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  .formText2{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;  
    text-align: center; 
    text-decoration: none;
  }
  
  .formText2:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    color: #333;
    }
    .formText2:hover:after {
    color: rgb(119, 201, 255);
    width: 100%;
    background-color: rgb(119, 201, 255);
    }
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid rgb(119, 201, 255);
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid rgb(119, 201, 255);
  }


/* pie de pagina */

footer { 
    grid-area: pie;
    text-align: center;
    color: white;
}

p {
    margin: 3px;
    font-family: Arial, Verdana, Tahoma, sans-serif; 
    font-size: 14px; 
    letter-spacing: 2px;
    line-height: 18px;
}

/* Grid Areas */

#indexHeader {
    grid-area: cabeza;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#gridIndex {
    display: grid;

    grid-template-areas:
    "cabeza cabeza cabeza"
    "menu menu menu"
    "aside aside aside"
    "articulo articulo articulo"
    "pie pie pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}

.generalHeader {
    grid-area: cabezaGeneral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#gridProductos {
    display: grid;

    grid-template-areas:
    "cabezaGeneral cabezaGeneral cabezaGeneral"
    "menu menu menu"
    "productos productos productos"
    "pie pie pie"
    ;

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    ;
}

#gridContacto {
    display: grid;

    grid-template-areas: 
    "cabezaGeneral cabezaGeneral cabezaGeneral"
    "menu menu menu"
    "contacto contacto contacto"
    "pie pie pie";

    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
}

}